.grade-colours .grade-1 {
	color: red;
}
.grade-colours .grade-2 {
	color: orange;
}
.grade-colours .grade-3 {
	color: #5DCEA8;
}
.grade-colours .grade-4 {
	color: green;
}
.grade-colours .grade-5 {
	color: #40A0E0;
}
.grade-colours .grade-6 {
	color: blue;
}

.grade-colours .grade-8 {
	color: black;
}
.grade-colours .grade-9 {
	color: gray;
}
.grade-colours .grade-10 {
	color: lightgray;
}
