.jlpt-colours .jlpt-n1 {
	color: black;
}
.jlpt-colours .jlpt-n2 {
	color: #40A0E0;
}
.jlpt-colours .jlpt-n3 {
	color: #5DCEA8;
}
.jlpt-colours .jlpt-n4 {
	color: orange;
}
.jlpt-colours .jlpt-n5 {
	color: red;
}
