body {
	width: 1800px;
	zoom: 68%;
}

.kanji:not(.known) {
	opacity: .3;
}

.kanji {
	display: inline-block;
	font-size: 150%;
}

.line {
	display: inline;
}

.block {
	float: left;
	margin: 10px;

	width: 280px;
	min-height: 290px;
}
